.movie-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.movie-list {
    border: 2px solid #cccccc;
    width: 30%;
    margin: 10px;
}


.movie-poster {
    width: 45px;
    height: 45px;
}